@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$NavbarColorItem:#242f51;
$navbarFontFamily :  'Poppins';




$footer-font: 'Poppins', sans-serif; 
$footer-font-weight: 700;

$footer-background-color: #242f51;
$footer-text-color: white;
$footer-padding: 1rem;
$footer-height: 24.5rem;


$footer-font-weight: 700;